# Staerk Home Assistant Add-ons

[![License][license-shield]][license]

{% if channel == "edge" %}
## WARNING! THIS IS AN EDGE VERSION!

> [!CAUTION]
> This Home Assistant Add-ons repository contains edge builds of add-ons.
> Edge builds add-ons are based upon the latest development version.

- They may not work at all.
- They might stop working at any time.
- They could have a negative impact on your system.

This repository was created for:

- Anybody willing to test.
- Anybody interested in trying out upcoming add-ons or add-on features.
- Developers.

If you are more interested in stable releases of our add-ons:

<https://github.com/staerk-ha-addons/repository>

{% endif %}
{% if channel == "beta" %}
## WARNING! THIS IS A BETA VERSION!

> [!WARNING]
> This Home Assistant Add-ons repository contains beta releases of add-ons.

- They might stop working at any time.
- They could have a negative impact on your system.

This repository was created for:

- Anybody willing to test.
- Anybody interested in trying out upcoming add-ons or add-on features.

If you are more interested in stable releases of our add-ons:

<https://github.com/staerk-ha-addons/repository>

{% endif %}

## About

Home Assistant add-ons repository by Jeppe Stærk. These add-ons extend the functionality of your Home Assistant installation.

## Installation

Click the button below to add this repository to your Home Assistant instance:

[![Open your Home Assistant instance and show the add add-on repository dialog with a specific repository URL pre-filled.](https://my.home-assistant.io/badges/supervisor_add_addon_repository.svg)](https://my.home-assistant.io/redirect/supervisor_add_addon_repository/?repository_url={{ repo | safe}})

Or use the following URL to add this repository:

```txt
{{ repo }}
```

## Add-ons

{% for addon in addons %}
### &#10003; [{{ addon.name }}][addon-{{ addon.target }}]

![Latest Version][{{ addon.target }}-version-shield]
![Supports armhf Architecture][{{ addon.target }}-armhf-shield]
![Supports armv7 Architecture][{{ addon.target }}-armv7-shield]
![Supports aarch64 Architecture][{{ addon.target }}-aarch64-shield]
![Supports amd64 Architecture][{{ addon.target }}-amd64-shield]
![Supports i386 Architecture][{{ addon.target }}-i386-shield]

{{ addon.description }}

[:books: {{ addon.name }} add-on documentation][addon-doc-{{ addon.target }}]

{% endfor %}

## Support

Got questions?

- Create an issue on GitHub for bug reports, feature requests, or questions
- Add a ⭐️ [star on GitHub]({{ repo }}) to support the project

## Acknowledgments

Special thanks to [Franck Nijhof][frenck] and the [Home Assistant Community Add-ons][ha-addons] project for their invaluable work. This add-on heavily relies on their foundation:

- Base container images
- CI, workflows and best practices
- Readme and docs templates

Their open-source contributions make add-ons like this possible.

## License

MIT License - Copyright (c) 2025 Jeppe Stærk

{% for addon in addons %}
[addon-{{ addon.target }}]: {{ addon.repo }}/tree/{{ addon.version }}
[addon-doc-{{ addon.target}}]: {{ addon.repo }}/blob/{{ addon.version }}/README.md
[{{ addon.target }}-issue]: {{ addon.repo }}/issues
[{{ addon.target }}-version-shield]: https://img.shields.io/badge/version-{{ addon.version }}-blue.svg
{% for arch in ['aarch64', 'amd64', 'armhf', 'armv7', 'i386'] %}
{% if arch in addon.archs %}
[{{ addon.target }}-{{ arch }}-shield]: https://img.shields.io/badge/{{ arch }}-yes-green.svg
{% else %}
[{{ addon.target }}-{{ arch }}-shield]: https://img.shields.io/badge/{{ arch }}-no-red.svg
{% endif %}
{% endfor %}
{% endfor %}
[frenck]: https://github.com/frenck
[ha-addons]: https://addons.community/
[license]: https://github.com/staerk-ha-addons/repository/blob/main/LICENSE
[license-shield]: https://img.shields.io/github/license/staerk-ha-addons/repository.svg
